@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap");

.Card {
    position: relative;
    margin-top: 2rem;
    background-color: #ffb602;
    border-radius: 0.1rem;
    min-height: 15rem;
    padding: 1.5rem 2rem;

    h1 {
        color: #212529;
        font-family: "Roboto Mono", monospace;
        text-transform: uppercase;
        font-size: 3rem;
        letter-spacing: 0.2rem;
        max-width: fit-content;
        text-shadow: 0.3px 0.7px 1px rgba(0, 0, 0, 0.6);
    }
    .edicaoTitulo {
        line-height: 4rem;
        padding-left: 1rem;
        font-size: 2rem;
        outline: none;
        display: block;
        width: 80%;
    }

    .edicaoDescricao {
        margin-top: 2rem;
        line-height: 4rem;
        padding-left: 1rem;
        font-size: 2rem;
        outline: none;
        resize: none;
        width: 80%;
    }

    p {
        margin-top: 2rem;
        color: #212529;
        font-size: 2.2rem;
        font-family: "Roboto Mono", monospace;
    }

    .flexBotaoCard {
        position: absolute;
        top: 1rem;
        left: 100%;
        transform: translateX(-100%);
        display: flex;
        gap: 2rem;
        button {
            width: 6rem;
            background-color: transparent;
            border: none;
            transition: 0.2s;
            &:hover {
                width: 6.5rem;
                cursor: pointer;
            }
            img {
                width: 100%;
            }
        }
    }
}
